{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'drive/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<header>
  <h1>My Drive</h1>
</header>

<main>
  <nav>
    <ul>
      <li>upload file</li>
      <li>upload folder</li>
    </ul>
  </nav>

  <div id="app">
    <dir-listing
      v-bind:dir=dir
      v-bind:path-to-dir=pathToDir
    />
  </div>
</main>

<script src="{% static 'drive/api.js' %}"></script>
<script src="{% static 'drive/app.js' %}"></script>

<script>
  fsop.ls(1).then(data => app.setRoot(data))
</script>